@import "{{ site.theme }}";

@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,700");
body {
  background-color: #f5f4f2;
  margin: 0;
  color: #504740;
  font-size: 16px;
  line-height: 1.25em;
  font-family: 'Source Sans Pro', sans-serif; }
  @media (max-width: 991px) {
    body {
      font-size: 14px; } }

nav {
  display: block;
  overflow: hidden;
  width: 100%;
  height: 4.125em;
  background-color: #665d57; }
  nav a.logo {
    display: block;
    width: 14.875em;
    height: 1.8125em;
    margin: 1.1em 0 1.1em 2.5em;
    overflow: hidden;
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-size: contain; }

.container {
  margin: 1.1em 2.5em;
  padding: 3em 6.5em 1.5em 6.5em;
  display: block;
  overflow: hidden;
  background: #FFF;
  min-height: calc(100VH - 4.125em - 3.75em - 2.2em - 4.5em); }
  .container ul li {
    line-height: 2em; }
  .container .right {
    width: 100%; }
  .container .left {
    width: calc(20% - .5em);
    display: inline-block;
    float: left;
    padding: 0 .5em 0 0; }
    .container .left ul {
      margin: 0;
      padding: 0; }
      .container .left ul li {
        color: #047ebf; }
    .container .left ~ .right {
      width: calc(80% - .5em);
      display: inline-block;
      float: left;
      padding: 0 0 0 .5em; }
  .container img {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 1em; }
  @media (max-width: 991px) {
    .container {
      padding: 2em 3em 1.5em 3em; }
      .container .left,
      .container .right,
      .container .left ~ .right {
        width: 100%;
        display: block;
        float: none;
        padding: 0; }
      .container .left ul {
        list-style-type: none;
        margin: 0 0 2em 0;
        padding: 0;
        display: inline-block; }
        .container .left ul li {
          display: inline;
          margin: 0;
          padding: 0 .5em 0 0; }
          .container .left ul li:last-of-type {
            padding: 0 0 0 0; } }

footer {
  height: 3.75em;
  display: block;
  overflow: hidden;
  background: transparent;
  margin: 0;
  padding: 0 2.5em; }

h1,
h2 {
  font-size: 2.625em;
  line-height: 1em;
  padding: 0;
  margin: 0 0 .75em 0;
  font-weight: bold; }

p {
  margin: 0 0 .75em 0;
  padding: 0; }
  p ~ h1,
  p ~ h2 {
    margin-top: .75em; }

a,
a:visited {
  text-decoration: none;
  line-height: 1.1em;
  color: #047ebf; }
  a:hover,
  a:visited:hover {
    text-decoration: underline;
    color: #047ebf; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.pull-left,
.pull-right {
  width: auto;
  display: inline-block; }
  @media (max-width: 991px) {
    .pull-left,
    .pull-right {
      width: 100%;
      display: block;
      float: none; } }
