<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="css/main.css">
  
  </head>


  <body>
 <nav>
   <a href="#" class="logo"></a>
 </nav>
<div class="container">
<!--  <div class="left">
    <ul>
      <li><a href="https://cleo.github.io/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/blog">Blog</a></li>
    </ul>
  </div>
  
  <div class="right">-->
    {{ content }}
<!--  </div>-->
</div>
  
  <footer>
    <!--<p class="pull-left">Cleo Integration Cloud EDI Tracker is maintained by <a href="#">wmkellet</a></p>-->
    <p class="pull-right">Published with <a href="#">GitHub Pages</a></p>
  </footer>
  </body>

</html>
